@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~video-react/styles/scss/video-react';

.glass {
  background: rgba(231, 236, 239, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(231, 236, 239, 0.3);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff9c9f;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FE6D73;
  }

body {
  background-color: #454851;
  max-width: 100%;
  overflow-x: hidden;
}
